<style>

body{
 // background-image: url('images/concertBackground.jpg');
}

</style>

<h1>Join the Party!</h1>
<table>
  <thead>
    <th>customerID</th>
    <th>E-mail</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Date of Birth</th>
    <th>Phone Number</th>
  </thead>
  <tbody>
    {{#each account}}
    <tr>
      <td>{{customerID}}</td>
      <td>{{email}}</td>
      <td>{{firstName}}</td>
      <td>{{lastName}}</td>
      <td>{{dateOfBirth}}</td>
      <td>{{phone}}</td>
    </tr>
    {{/each}}
  </tbody>
<form id="addAccount" action="/account" method="post">
customerID: <input type="number" name="customerID"><br>
E-mail: <input type="email" name="email"><br>
First Name: <input type="text" name="fistName"><br>
Last Name: <input type="text" name="lastName"><br>
Birth Date: <input type="date" name="dateOfBirth"><br>
Phone Number: <input type="tel" name="phone"><br>
<input type="submit" value="Submit">
</form>
</table>
